body{
    display:flex;
    justify-content: center;
    background-color: black;
}
header{
    color:blue;
}
input{
background-color: orange;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:1000px;
}
.form{
    display: flex;
    justify-content: center;
}
.pokemon{
    display: flex;
    flex-wrap:wrap;
}
.card{
    width:200px;
    /* border: 2px solid black; */
    margin: 1em;
    color:blue;
}
img{
    width:100%;
}
.info{
    display: flex;
    /* justify-content: space-between; */
}
.modal{
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 1;
    color:white;
    display:none;
}
.modal-info{
    background-color: white;
    height: 400px;
    width:400px;
    color:black;
    border-radius:20px;
    margin:300px auto;
}